In [11]:
import pandas as pd 
import numpy as np
df = pd.read_csv("pinterest_country_historical.csv")
df.head()

,date,country,campaign_id,checkout_value,checkout_value_micro,checkouts,clicks,conversions,impressions,spend,spend_micro,date_range_start,date_range_end,CAMPAIGN_NAME,campaign_name,IMPRESSION_1
0,2025-09-03,US,626755902381,1090.0,1.090000e+09,1.0,44.0,857.0,NaN,118.678555,118678555.0,2025-09-03,2025-12-01,NaN,TNT_CVR_Retargeting_Catalog,6922.0
1,2025-09-03,US,626755902620,NaN,NaN,NaN,82.0,207.0,NaN,51.022034,51022034.0,2025-09-03,2025-12-01,NaN,TNT_AWR_Prospecting_Traffic,9842.0
2,2025-09-03,US,626755902689,890.0,8.900000e+08,1.0,106.0,504.0,NaN,258.453689,258453689.0,2025-09-03,2025-12-01,NaN,TNT_CVR_Prospecting_Catalog,17365.0
3,2025-09-04,US,626755902381,1980.0,1.980000e+09,2.0,45.0,651.0,NaN,96.296127,96296127.0,2025-09-03,2025-12-01,NaN,TNT_CVR_Retargeting_Catalog,5935.0
4,2025-09-04,US,626755902620,NaN,NaN,NaN,38.0,82.0,NaN,20.089779,20089779.0,2025-09-03,2025-12-01,NaN,TNT_AWR_Prospecting_Traffic,5246.0

In [9]:
df.groupby(["date", "campaign_name"])[["checkout_value", "checkouts", "clicks", "impressions", "spend"]].sum()

                                             checkout_value  checkouts  \
date       campaign_name
2025-09-03 TNT_AWR_Prospecting_Traffic                  0.0        0.0
           TNT_CVR_Prospecting_Catalog                890.0        1.0
           TNT_CVR_Retargeting_Catalog               1090.0        1.0
2025-09-04 TNT_AWR_Prospecting_Traffic                  0.0        0.0
           TNT_CVR_Prospecting_Catalog                  0.0        0.0
...                                                     ...        ...
2025-11-29 TNT_CVR_Retargeting_SiteVisitors           590.0        1.0
2025-11-30 TNT_CVR_Retargeting_Catalog                  0.0        0.0
           TNT_CVR_Retargeting_SiteVisitors             0.0        0.0
2025-12-01 TNT_CVR_Retargeting_Catalog                  0.0        0.0
           TNT_CVR_Retargeting_SiteVisitors             0.0        0.0

                                             clicks  impressions       spend
date       campaign_name
2025-09-03 TNT_AWR_Prospecting_Traffic         82.0       9842.0   51.022034
           TNT_CVR_Prospecting_Catalog        106.0      17365.0  258.453689
           TNT_CVR_Retargeting_Catalog         44.0       6922.0  118.678555
2025-09-04 TNT_AWR_Prospecting_Traffic         38.0       5246.0   20.089779
           TNT_CVR_Prospecting_Catalog         21.0       3619.0   28.973609
...                                             ...          ...         ...
2025-11-29 TNT_CVR_Retargeting_SiteVisitors    34.0       5717.0  375.000000
2025-11-30 TNT_CVR_Retargeting_Catalog         83.0      12587.0  103.000000
           TNT_CVR_Retargeting_SiteVisitors    25.0       5889.0  309.000000
2025-12-01 TNT_CVR_Retargeting_Catalog         65.0      10005.0   91.079724
           TNT_CVR_Retargeting_SiteVisitors    38.0       6371.0  291.021730

[71 rows x 5 columns]

In [12]:
df[df.date == '2025-11-29']

,date,country,campaign_id,checkout_value,checkout_value_micro,checkouts,clicks,conversions,impressions,spend,spend_micro,date_range_start,date_range_end,CAMPAIGN_NAME,campaign_name,IMPRESSION_1
65,2025-11-29,US,626755499613,590.0,590000000.0,1.0,34.0,248.0,NaN,375.0,375000000.0,2025-09-03,2025-12-01,NaN,TNT_CVR_Retargeting_SiteVisitors,5717.0
66,2025-11-29,US,626755902381,750.0,750000000.0,1.0,80.0,829.0,NaN,125.0,125000000.0,2025-09-03,2025-12-01,NaN,TNT_CVR_Retargeting_Catalog,14135.0